@import url('https://fonts.googleapis.com/css2?family=Chango&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.external {
    text-decoration: none;
    color: inherit;
}

.description:hover>.company-info .external::after,
.description.hover>.company-info .external::after {
    content: "\e89e";
    font-size: 20px;
    color: rgba(30, 30, 214, 0.815);
    position: relative;
    top: 4px;
}

.hover-me {
    float: right;
    padding-right: 250px;
    padding-top: 20px;
    font-size: xx-large;
    color: rgba(119, 119, 119, 0.596);
    font-style: oblique;
    transform: rotate(-5deg);
}

.description:hover>.hover-me,
.description.hover>.hover-me {
    display: none;
}

.description {
    border: 1px solid rgb(41, 28, 116);
    border-radius: 75px;
    padding: 30px 30px 30px 50px;
    width: 2fr;
    box-shadow: 10px 5px 5px rgba(204, 25, 25, 0.705);
    overflow: hidden;
}

.description:hover,
.description.hover {
    box-shadow: 10px 5px 5px rgba(204, 141, 25, 0.397);
    /* transform: scale(1, 1.5);
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative; */
}

.title,
.company-info {
    font-size: xx-large;
}

.description>.title {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Chango', cursive;
    font-family: 'Fjalla One', sans-serif;
}

.job-description {
    display: none;
    line-height: 1.6;
    font-family: 'Roboto Mono',
    monospace;
}

.description:hover>.job-description,
.description:hover>.title,
.description:hover>.company-info,
.description.hover>.job-description,
.description.hover>.title,
.description.hover>.company-info {
    font-size: medium;
}

.description:hover>.job-description,
.description.hover>.job-description {
    display: initial;
}


.experience {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: dense;
    margin: 100px;
}

.experience:nth-child(odd) {
    grid-template-columns: 2fr 1fr;
}

.experience:nth-child(even) {
    grid-template-columns: 1fr 2fr;
}

.experience>.description {
    grid-column: 1;
}

.experience>.time {
    grid-column: 2;
}

.experience:nth-child(even)>.description {
    grid-column: 2;
}

.experience:nth-child(even)>.time {
    grid-column: 1;
}

.experience>.time {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    font-family: 'Dancing Script',
    cursive;
}

.description>.company-info {
    margin-bottom: 20px;
}
