@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#about-content {
    /* width: 75%; */
    margin: 50px 20%;
    
}

.paragraphImg {
    width: 380px;
    margin: 25px;
}

.about-section:nth-child(odd)>div>div>.paragraphImg {
    float: left;
}

.about-section:nth-child(even)>div>div>.paragraphImg,
#top-section>div>div>.paragraphImg {
    float: right;
}

.about-section,
#top-section {
    display: grid;
    grid-template-rows: min-content;
    gap: 50px;
}

.subtitle {
    font-size: xx-large;
    font-weight: bold;
}

.about-text {
    font-size: larger;
    line-height: 2;
    font-family: 'Roboto Mono',
    monospace;
    text-align: justify;
}

#blog-section-container {
    display: grid;
    border: thick double #32a1ce;
    gap: 10px;
    grid-template-columns: min-content auto min-content;
}

.navigate-button {
    background-color: rgba(178, 189, 189, 0.164);
    border-radius: 5px;
    border: 0;
}

.navigate-button:hover {
    background-color: rgba(82, 87, 87, 0.356);
    /* border: thick double #32a1ce; */
}

.navigate-button:active {
    background-color: rgba(82, 87, 87, 0.568);
}

@media only screen and (max-width: 375px) {
    #about-content {
        margin: 50px 5%;

    }
    
    .paragraphImg {
        width: 200px;
        margin: 10px;
    }

    .about-text {
        font-size: larger;
        line-height: 1.5;
        font-family: 'Roboto Mono',
            monospace;
        text-align:center;
    }

    .navigate-button {
        width: 30px;
    }
}