#myselfImg {
    border-radius: 75px;
    width: 450px;
    grid-column: 1/2;
}

#content {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1fr);
    grid-template-rows: min-content;
    float: center;
    gap: 60px;
    justify-items: center;
}

#myInfo {
    grid-column: 2/3;
    float: center;
}

#buttons {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    gap: 100px;
    float: center;
    justify-items: center;
    padding-top: 150px;
}

#myPara {
    padding-top: 50px;
}

#myPara, #resume {
    grid-column: 1/-1;
}

#linkedIn, #github {
    height: 120px;
}

#resume {
    border-radius: 75px;
    height: 55px;
    width: 100%;
    cursor: pointer;
}

#resume:hover {
    background-color: white;
}

@media only screen and (max-width: 375px) {
    #myselfImg {
        width: 300px;
        grid-column: initial;
        margin-left: 27.5px;
    }

    #content {
        margin: 10px;
        margin-top: 100px;
        width: auto;
        grid-template-columns: min-content;
        gap: 0;
        display: inline-block;
        text-align: initial;
    }

    #myInfo {
        grid-column: initial;
    }

    #myPara {
        padding-top: 10px;
        grid-column: initial;
    }

    #buttons {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 10px;
    }

    #linkedIn,
    #github {
        height: 50px;
    }
}