@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: #1e6f5c;
    color: white;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#NameAndIcon {
    display: flex;
    position: relative;
    float: left;
    height: inherit;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    font-family: 'Indie Flower',
    cursive;
}

#nav {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    padding-right: 40px;
    position: relative;
    height: inherit;
    float: right;
    gap: 3em;
    align-items: center;
}

#nav>a {
    display: flex;
    padding: 20px 10px;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
}

#nav>.nav-item:hover {
    border-bottom: 4px dotted rgba(51, 51, 204, 0.692);
    background-color: #ffffff1c;
}

body {
    padding-top: 65px;
    font-family: Arial;
    margin: 0;
}

.active {
    background-color: #ffffff1c;
}